In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../csv/struttura/create_topic_nodes.csv")

In [5]:
df.head()

   index  topic_id urlkey
0      0         0     0x
1      1         0     0x
2      2         0     0x
3      3         0     0x
4      4         0     0x

In [8]:
df['topic_name']="ToBeCreated"

In [9]:
df.head()

   index  topic_id urlkey   topic_name
0      0         0     0x  ToBeCreated
1      1         0     0x  ToBeCreated
2      2         0     0x  ToBeCreated
3      3         0     0x  ToBeCreated
4      4         0     0x  ToBeCreated

In [21]:
for count, line in enumerate(df.itertuples()):
    df['topic_name'].at[line.Index]=df['urlkey'].at[line.Index].replace("-", " ")
    #if count is 100:
    #    break
df.head()

KeyboardInterrupt:

In [20]:
df.topic_name

0                                         0x
1                                         0x
2                                         0x
3                                         0x
4                                         0x
5                                         0x
6                                         0x
7                                         0x
8                                         0x
9                                         0x
10                                        0x
11                                        0x
12                                        0x
13                                        0x
14                                        0x
15                                        0x
16                                        0x
17                                        0x
18                                        0x
19                                        0x
20                                        0x
21                                        0x
22                                        0x
23                                        0x
24          1 2 holdem omaha poker cash game
25                     1 2 marathon training
26                     1 2 marathon training
27                     1 2 marathon training
28                     1 2 marathon training
29                     1 2 marathon training
                          ...
36334402                         ToBeCreated
36334403                         ToBeCreated
36334404                         ToBeCreated
36334405                         ToBeCreated
36334406                         ToBeCreated
36334407                         ToBeCreated
36334408                         ToBeCreated
36334409                         ToBeCreated
36334410                         ToBeCreated
36334411                         ToBeCreated
36334412                         ToBeCreated
36334413                         ToBeCreated
36334414                         ToBeCreated
36334415                         ToBeCreated
36334416                         ToBeCreated
36334417                         ToBeCreated
36334418                         ToBeCreated
36334419                         ToBeCreated
36334420                         ToBeCreated
36334421                         ToBeCreated
36334422                         ToBeCreated
36334423                         ToBeCreated
36334424                         ToBeCreated
36334425                         ToBeCreated
36334426                         ToBeCreated
36334427                         ToBeCreated
36334428                         ToBeCreated
36334429                         ToBeCreated
36334430                         ToBeCreated
36334431                         ToBeCreated
Name: topic_name, Length: 36334432, dtype: object